<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <link href="/resources/css/style.css" rel="stylesheet">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--https://www.jianshu.com/p/908b48b10702 教程文件-->
</head>
<body>
    <h1>首页12345</h1>
    <table>
        <tr>
            <td>123</td>
            <td>456</td>
        </tr>
        <tr>
            <td>789</td>
            <td>123</td>
        </tr>
    </table>
</body>
</html>