<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        /*function setKey(key,val) {
            var curTime = new Date().getTime();
            localStorage.setItem(key,JSON.stringify({data:val,time:curTime}))
        }
        function getKey(key,exp){
            var data=localStorage.getItem(key);
            var dataObj=JSON.parse(data);
            if(new Date().getTime()-dataObj.time>exp){
                console.log("已过期")
            }else{
                console.log("data="+dataObj.data)
            }
        }*/
    </script>
</head>
<body>
    @var a = 2;
    @var b = 3;
    @var result = a+b;
    <h1>hello 2+3=${result}</h1>
    <table>
        <tr>
            <td>name</td>
            <td><input type="text" id="username" name="username" value="${user.userId}"/></td>
        </tr>
        <tr>
            <td>name</td>
            <td><input type="text" id="usercode" name="usercode" value="${user.pwd}"/></td>
        </tr>
    </table>
</body>
</html>